@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

body {
  font-family: 'Bitcount Single', sans-serif;
  color: #ffffff;
  background-color: #000000;
  line-height: 1.5;
}

input.menu {
  opacity: 0;
  position: absolute;
}

#topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #015ca1;
}

.navname {
  font-family: 'Bitcount Single', sans-serif;
  font-size: 20px;
  color: #fecf9f;
  text-decoration: none;
}

.navright {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;
}

.navlinks {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navlinks a {
  font-size: 18px;
  font-weight: 500;
  color: #fecf9f;
  text-decoration: none;
}

.navlinks a:hover {
  color:#ffffff; 
  font-weight: bolder;
}

.navname:hover {
  color:#ffffff;
  font-weight: bolder;
}


label.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

label.menu span {
  display: block;
  height: 2px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 2px;
}

aside.sidenav {
  position: fixed;
  top: 0;
  left: -320px;
  width: 250px;
  height: 100%;
  z-index: 1000;
  background-color: #000000;
  padding: 30px;
  border: 2px solid white;
  transition: left 0.3s ease;
}

#menubutton:checked ~ aside.sidenav {
  left: 0;
  transition: 0.3s;
}

.menuheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.menuheader a.menu {
  font-family: 'Bitcount Single', sans-serif;
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
}

.menuclose {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

ul.sidenav {
  list-style: none;
}


ul.sidenav a {
  display: block;
  padding: 15px 0;
  font-family: 'Bitcount Single', sans-serif;
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
}

ul.sidenav a:hover {
  color: #860dc7;
  font-size: 26px;
  transition: 0.3s;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

#title {
  text-align: center;
  border-bottom: 1px solid #E8DCCF;
}

.main.title {
  font-family: 'Chelsea Market', sans-serif;
  font-size: 45px;
  line-height: 1.25;
  color: #ffffff;
  padding-top: 20%;
  text-align: center;
}

.main.title span {
  display: block;
}

.main.title span:last-child {
  color: #3a15e1;
  font-style: italic;
}

.quote {
  font-size: 30px;
  font-family: "Metamorphous";
  color: #0cd678;
  max-width: 420px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4%;
}

.img {
  display: block;
  max-width: 400px;
  width: 80%;
  margin: 40px auto;
  border-radius: 5%;
}

form {
    max-width: 500px;
    float: left;
    margin:auto;
    margin-left: 200px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #254237;
    border-radius: 5px;
    margin-top: 150px;
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttons input {
    padding: 4px;
    border: none;
    border-radius: 4px;
    font-family: "Bitcount Single";
    font-size: 14px;
    cursor: pointer;
}

#ring {
    width: 400px;
    position: absolute;
    left: 830px;
    top: 280px;
}

footer {
  background-color: #01101e;
  border-top: 1px solid #E8DCCF;
  padding: 20px 5%;
  display: flex;
  justify-content: center;
  gap: 140px;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

footer h3 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fecf9f;
  letter-spacing: 0.5px;
  margin-top: 10px
}

#footernonlink {
  margin-top: 29px;
}

footer h3:hover {
  color:#1f9cd6;
}

#footernonlink:hover{
  color: #fecf9f;
}

@media (max-width: 700px) {

  .navlinks {
    display: none;
  }

  #title {
    padding-top: 120px;
  }

  .main.title {
    font-size: 36px;
    padding-left: 20px;
    padding-right: 20px;
  }
 

  .quote {
    padding-left: 20px;
    padding-right: 20px;
  }
  #img {
    max-width: 250px;
  }
  form {
    padding-left: 20px;
    padding-right: 40px;
    margin-top: 200px;
    justify-content: center;
  }
  #ring {
    display: none;
  }

  #topnavh1 {
    padding-left: 5%;
  }
  footer {
    flex-direction: column;
    text-align: center;
    gap: 12px;
  }
}

.container.page {
  padding: 140px 5% 60px;
}

.pagetitle {
  font-family: 'Chelsea Market', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.img {
    display: block;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 50px;
    border-radius: 14px;
}

.pagecontent article {
  max-width: 700px;
  margin: 0 auto 40px;
}

.pagecontent article header {
  font-family: 'Bitcount Single', serif;
  font-size: 22px;
  color: #0b88dc;
  margin-bottom: 12px;
}
#disney {
  color: red;
}
.pagecontent article p {
  font-size: 18px;
  color: #80fff2;
}
  .container.page {
    padding-top: 110px;
  }

  .pagetitle {
    font-size: 28px;
  }

  @media (max-width: 600px) {
  form {
    margin-top: 20px;
  }
  #ring {
    display: none;
  }
  #topnavh1 {
    margin-top: 40px;
  }
}

  @media (max-width: 500px) {

    body {
        padding-top: 140px;
    }

    h1 {
      margin: 30px;
    }

    form {
      margin: 1%;
      margin-top: 110px;
      justify-content: center;
    }

    #ring {
    display: none;
    }
  }
