body {background-color: rgb(69, 116, 155);}

h1 {text-align: center;
color: rgb(255, 255, 255);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: larger;
font-weight: bold;}

article {
    float: none;
    background-color: rgb(1, 44, 91);
    border: white 3px solid;
    border-radius: 3px;
    margin: 8px;
    padding: 3%;
}
.secondArticle {
    float: right;
    background-color: rgb(159, 6, 6);
    width: 40%;
    text-align: right;
    position: relative;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 130%;
    font-weight: bold;
}

header {
    color: black;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.img {width: 400px; height: auto;

border: white 3px solid;
border-radius: 50%;
;}