body {background-color: rgb(52, 12, 75);}
h1 {color: aliceblue;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;}
p {color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}