body {background-color: rgb(111, 175, 125);}

h1 {text-align: center;
color: rgb(255, 255, 255);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

article {background-color: rgb(102, 128, 68);
border: white 3px solid;
width: 40%;
height: auto;}

p {color: rgb(255, 255, 255);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;}

form {border: white 3px solid;
    background-color: aliceblue;}